@import './input-container/input-container';
@import './input-group/input-group';

.input {
  min-height: 24px;

  font-weight: normal;
  font-size: px-to-rem(14);
  font-family: $font-lato;
  font-style: normal;
  line-height: px-to-rem(17);

  border: 1px solid #e1e1e1;

  @include shadow-outline();

  &:focus {
    // border: transparent;
  }
}
