<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='apple-touch-icon', sizes='180x180', href='./assets/favlike/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='./assets/favlike/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./assets/favlike/favicon-16x16.png')
    link(rel='manifest', href='./assets/favlike/site.webmanifest')
    link(rel='mask-icon', href='./assets/favlike/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='./assets/favlike/favicon.ico')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-config', content='./assets/favlike/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    mqs
      var(name='s@2x' media='-webkit-min-device-pixel-ratio:2,-moz-min-device-pixel-ratio:2,-o-min-device-pixel-ratio: 2/1,min-device-pixel-ratio:2')

      var(name='m' media='min-width:321px')

      var(name='m@2x' media='min-width:321px and -webkit-min-device-pixel-ratio:2,-moz-min-device-pixel-ratio:2,-o-min-device-pixel-ratio: 2/1,min-device-pixel-ratio:2')

      var(name='l' media='min-width:641px')

      var(name='l@2x' media='min-width:641px and -webkit-min-device-pixel-ratio:2,-moz-min-device-pixel-ratio:2,-o-min-device-pixel-ratio: 2/1,min-device-pixel-ratio:2')

      var(name='xl' media='min-width:1281px')

      var(name='xl@2x' media='min-width:1281px and -webkit-min-device-pixel-ratio:2,-moz-min-device-pixel-ratio:2,-o-min-device-pixel-ratio: 2/1,min-device-pixel-ratio:2')



    block title
      title Котейка

    block styles
      //- link(rel="stylesheet", href="https://unpkg.com/@shoelace-style/shoelace@2.0.0-beta.8/dist/shoelace/shoelace.css")
      link(rel="stylesheet", href="./assets/css/style.css")
    block scripts  
      //- script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
      script(src="./assets/js/core.js" defer)
      script(src="https://unpkg.com/@shoelace-style/shoelace@2.0.0-beta.8/dist/shoelace/shoelace.esm.js" type="module")
  body
    .page
      include ./mobile-menu.pug
      include ./page-header.pug

      .page__content.page-content
        block page__content