header.page-header
  .wrapper.page-header-wrapper
    a(href="#")
      include ../../svg/logo.svg

    nav.page-header__nav
      a.page-header__nav-link(href="#") Почему мы?
      a.page-header__nav-link(href="#") Номера
      a.page-header__nav-link(href="#") Отзывы
      a.page-header__nav-link(href="#") Как нас найти
