header.page-header
  .wrapper.page-header-wrapper
    a(href="#")
      svg.logo(role="img")
        use(xlink:href="./assets/images/symbol/sprite.svg#logo")

    nav.page-header__nav
      a.page-header__nav-link(href="#") Почему мы?
      a.page-header__nav-link(href="#") Номера
      a.page-header__nav-link(href="#") Отзывы
      a.page-header__nav-link(href="#") Как нас найти
    
    a.mobile-menu-icon.mburger.mburger--collapse(href='#mobile-menu')
      b
      b
      b
