header.page__header.page-header
  .wrapper.page-header__wrapper
    a.page-header__home-link(href="#")
      svg.logo(role="img")
        use(xlink:href="./assets/images/symbol/sprite.svg#logo")

    nav.page-header__nav.nav
      a.nav__link(href="#") Почему мы?
      a.nav__link(href="#") Номера
      a.nav__link(href="#") Отзывы
      a.nav__link(href="#") Как нас найти
    
    a.page-header__mobile-menu-button.mburger.mburger--collapse(href='#mobile-menu')
      b
      b
      b
