extends ../layout/default

block page-content
  .wrapper
    .page-title-container
      h1.page-title Наши номера

      v-select.catalog-select(:options="options" :placeholder="placeholder")
        <template #open-indicator="{ attributes }">
          <span v-bind="attributes">
            include ../../svg/accord-down-svg.svg
          </span>
          
        </template>

    .catalog
      aside.catalog-filters
      
      section.catalog-items.grid
        article.catalog-item(v-for="item in items", href="#") 
          img.catalog-item__image(:src="item.imageSrc", alt="кот")
          .catalog-item__content
            h5 {{ item.title }}
            p Размеры (ШхГхВ) - {{ item.sizes }} см
            p Площадь - {{ item.square }} м2
            p Цена за сутки: {{ item.cost }}
            a.catalog-item__button(href="#") Забронировать