extends ../layout/default

block page-content
  .wrapper
    .page-title-container
      h1.page-title Наши номера

      select.js-choice
        option По площади
        option По площади
        option По цене
        option По цене