extends ../layout/default

block page-main-area
  .wrapper.page-content-wrapper#catalog
    .page-title-container
      h1.page-title Наши номера

      v-select.catalog-select(:options="options" :placeholder="placeholder" v-on:input="sortItems")
        template(#open-indicator="{ attributes }")
          span(v-bind="attributes")
            include ../../svg/accord-down-svg.svg

    .catalog
      aside.catalog-filters
        form(@submit.prevent="submitFilters")
          p Цена за сутки,₽
          input(type="number" v-model:value="filters.costs.start")
          input(type="number" v-model:value="filters.costs.end")
        
          p Площадь
          div(v-for="square in filters.squares")
            input(type="checkbox" v-model:checked="square.selected") 
            p {{ square.value }}

          p Оснащение номера
          div(v-for="equipment in filters.equipments")
            input(type="checkbox" v-model:checked="equipment.selected") 
            p {{ equipment.value }}

          button(type="submit") Применить
          button(type="reset" @click="resetFilters" v-if="!isFilterEmpty") Сбросить фильтр

      section.catalog-items.grid
        article.catalog-item(v-for="item in items", href="#") 
          img.catalog-item__image(:src="item.imageSrc", alt="кот")
          .catalog-item__content
            h5.catalog-item__title {{ item.title }}
            p.catalog-item__point Размеры (ШхГхВ) - {{ item.sizes }} см
            p.catalog-item__point Площадь - {{ item.square }} м2
            p.catalog-item__point Оснащение номера
            p.catalog-item__point 
              | Цена за сутки: 
              span.catalog-item__price {{ item.cost }}₽

            a.catalog-item__button(href="#") 
              span Забронировать
              div.icon
                include ../../svg/paw-svg.svg