extends ../layout/default

block page__content
  .wrapper.page-content__wrapper
    .page-content__head.page-head
      h1.page-head__title Наши номера

      sl-select(placeholder="Фильтровать")
        sl-menu-item(value="square-up")
          | ↑ По площади
        sl-menu-item(value="square-down")
          | ↓ По площади
        sl-menu-item(value="cost-up")
          | ↑ По цене
        sl-menu-item(value="cost-down")
          | ↓ По цене

    .page-content__main.catalog
      aside.catalog__aside.filters
        form(@submit.prevent="submitFilters").filters-form
          div.input-group.filters-form__item
            p.input-group__title Цена за сутки,₽
            .inputs-row.inputs-row_2-cols
              input(type="number" v-model:value="filters.costs.start")
              input(type="number" v-model:value="filters.costs.end")
        
          div.input-group.filters-form__item
            p.input-group__title Площадь
            div(v-for="square in filters.squares").filters-form__checkbox-cont
              .checkbox
                input(type="checkbox" v-model:checked="square.selected") 
                svg.check-svg(role="img")
                  use(xlink:href="./assets/images/symbol/sprite.svg#check-svg")
              label.checkbox-label {{ square.value }} м2


          div.input-group.filters-form__item
            p.input-group__title Оснащение номера
            div(v-for="equipment in filters.equipments").filters-form__checkbox-cont
              .checkbox
                input(type="checkbox" v-model:checked="equipment.selected") 
                svg.check-svg(role="img")
                  use(xlink:href="./assets/images/symbol/sprite.svg#check-svg")
              label.checkbox-label {{ equipment.value }}

          div.input-group.filters-form__item
            button(type="submit").filters-form__button.filters-form__button_submit Применить
            button(type="reset" @click="resetFilters" v-if="!isFilterEmpty").filters-form__button.filters-form__button_reset Сбросить фильтр

      main.catalog__main
        section.products-grid.grid
          article.products-grid__item.product-card(v-for="item in items", href="#") 
            img.product-card__image(:src="item.imageSrc", alt="кот")
            .product-card__content
              h5.product-card__title {{ item.title }}

              p.product-card__point Размеры (ШхГхВ) - {{ item.sizes }} см

              p.product-card__point Площадь - {{ item.square }} м2

              p.product-card__point 
                | Оснащение номера

                span(v-for="equip in item.equipment").product-card__point_equipment-svgs
                  svg.equipment-empty-svg(role="img" v-if="equip === 'Пустой номер'")
                    use(xlink:href="./assets/images/symbol/sprite.svg#equipment-empty-svg")

                  svg.equipment-tray-svg(role="img" v-if="equip === 'Лежак'")
                    use(xlink:href="./assets/images/symbol/sprite.svg#equipment-tray-svg")
                    
                  svg.equipment-tower-svg(role="img" v-if="equip === 'Когтеточка'")
                    use(xlink:href="./assets/images/symbol/sprite.svg#equipment-tower-svg")

                  svg.equipment-ball-svg(role="img" v-if="equip === 'Игровой-комплекс'")
                    use(xlink:href="./assets/images/symbol/sprite.svg#equipment-ball-svg")

                  svg.equipment-house-svg(role="img" v-if="equip === 'Домик'")
                    use(xlink:href="./assets/images/symbol/sprite.svg#equipment-house-svg")                

              p.product-card__point 
                | Цена за сутки: 
                span.product-card__price {{ item.cost }}₽

              a.product-card__button(href="#") 
                span Забронировать
                div.icon
                  svg.paw-svg(role="img")
                    use(xlink:href="./assets/images/symbol/sprite.svg#paw-svg")