.arrow-down-svg {
  width: 5px;
  height: 10px;

  color: $color-black;
}

.accord-down-svg {
  width: 12px;
  height: 6px;

  color: $color-black;
}

.paw-svg {
  width: 20px;
  height: 17px;

  color: $color-accent--other;
}

.equipment-empty-svg {
  width: 16px;
  height: 16px;

  color: #777;
}

.equipment-tray-svg {
  width: 16px;
  height: 12px;

  color: #777;
}

.equipment-tower-svg {
  width: 14px;
  height: 16px;

  color: #777;
}

.equipment-ball-svg {
  width: 16px;
  height: 16px;

  color: #777;
}

.equipment-ball-svg {
  width: 16px;
  height: 16px;

  color: #777;
}

.equipment-house-svg {
  width: 16px;
  height: 16px;

  color: #777;
}

.check-svg {
  width: 12px;
  height: 8px;

  color: $color-black;
}
