.arrow-down-svg {
  width: 5px;
  height: 10px;

  color: $color-black;
}

.accord-down-svg {
  width: 12px;
  height: 6px;

  color: $color-black;
}

.paw-svg {
  width: 20px;
  height: 17px;

  color: $color-accent--other;
}
