.page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  .page-main-area {
    flex: 1;
    padding-top: 38px;

    @media (min-width: 1315px) {
      transform: translateX(50px);
    }

    @media (--mobile-max) {
      padding-top: 25px;
    }
  }

  &-wrapper {
    max-width: 1220px;
    margin-bottom: 40px;
  }
}
