@mixin styled-scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: $color-accent-500 #fff;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-accent-500;
    border: 0px solid #fff;
  }
}
