@font-face {
  font-weight: 400;
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
  src: local('Lato'), url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
}
