$color-primary: #fff;
$color-accent: #f05b1b;
$color-black: #1a212f;

$max-width: 1170px;
$tablet-width: 1024px;
$mobile-landscape-width: 976px;
$hover-width: $tablet-width;

$font-lato: 'Lato', sans-serif;
$font-rubik: 'Rubik', sans-serif;

$trans-super-fast: all 0.2s ease;
$trans-fast: all 0.25s ease-in-out;
$trans-mid: all 0.35s ease-in-out;
$trans-slow: all 0.45s ease-in-out;

$z-header: 2;

@custom-media --tablet-max (max-width: 1024px);
@custom-media --mobile-landscape-max (max-width: 976px);
@custom-media --mobile-max (max-width: 500px);
