$color-primary: #fff;
$color-accent: #f05b1b;
$color-accent--other: #ff7236;
$color-black: #1a212f;

$max-width: 1170px;
$tablet-width: 1024px;
$hover-width: $tablet-width;

$font-lato: 'Lato', sans-serif;
$font-rubik: 'Rubik', sans-serif;

$trans-super-fast: all 0.2s ease;
$trans-fast: all 0.25s ease-in-out;
$trans-mid: all 0.35s ease-in-out;
$trans-slow: all 0.45s ease-in-out;

$z-header: 2;

@custom-media --laptop-min (min-width: 1400px);
@custom-media --laptop-max (max-width: 1400px);

@custom-media --laptop-s-min (min-width: 1280px);
@custom-media --laptop-s-max (max-width: 1280px);

@custom-media --tablet-min (min-width: 1024px);
@custom-media --tablet-max (max-width: 1024px);

@custom-media --mobile-landscape-big-min (min-width: 850px);
@custom-media --mobile-landscape-big-max (max-width: 850px);

@custom-media --mobile-landscape-min (min-width: 768px);
@custom-media --mobile-landscape-max (max-width: 768px);

@custom-media --mobile-min (min-width: 500px);
@custom-media --mobile-max (max-width: 500px);
