.catalog {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 211px 877px;
  justify-content: space-between;
  margin-top: 65px;

  &-items {
    grid-template-columns: repeat(3, 270px);
    justify-content: center;

    @media (--mobile-landscape-max) {
      grid-template-columns: repeat(2, 270px);
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 270px);
    }
  }

  &-item {
    height: 428px;

    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 6px;

    &__image {
      width: 100%;
      height: auto;

      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__content {
      padding: 20px;
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    margin-top: 25px;

    &-items {
      margin-top: 20px;
    }
  }
}

.catalog-select {
  width: 174px;
}
