.filters-form {
  &__cont {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;

    .filters-form__title {
      margin-bottom: 12px;

      font-weight: 500;
      font-size: px-to-rem(16);
      font-family: $font-lato;
      font-style: normal;
      line-height: px-to-rem(19);
    }

    &_with-buttons {
      margin-top: 30px;
    }
  }

  &__checkbox-cont {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    .checkbox {
      margin-right: 4px;
    }
  }

  .filters-price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 48%;
      padding-right: 3px;
      padding-left: 3px;

      border: 1px solid #e1e1e1;
    }
  }

  .filters-form__button {
    margin-bottom: 10px;
    padding: 12px;

    font-weight: 400;
    font-size: px-to-rem(14);
    font-family: $font-lato;
    font-style: normal;
    line-height: px-to-rem(17);

    background: #fac663;

    border: 1px solid #fac663;
    border-radius: 25px;

    cursor: pointer;

    transition: $trans-fast;

    &:hover {
      background: transparent;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
