@import './page-head/page-head';

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  &__content {
    flex: 1;
    padding-top: 38px;

    @media (--mobile-max) {
      padding-top: 25px;
    }
  }

  &__wrapper {
    max-width: 1220px;
    margin-bottom: 40px;
  }
}
