@import './nav';

.page-header {
  position: sticky;
  top: 0;
  z-index: $z-header;

  padding-top: 8px;
  padding-bottom: 8px;

  background: #fff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (--mobile-max) {
      display: none;
    }
  }

  &__mobile-menu-button {
    display: none;

    @media (--mobile-max) {
      display: inline-block;
    }
  }
}
