.page-header {
  position: sticky;
  top: 0;
  z-index: $z-header;

  padding-top: 8px;
  padding-bottom: 8px;

  background: #fff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (--mobile-max) {
      display: none;
    }

    &-link {
      color: $color-black;

      font-weight: 400;
      font-size: px-to-rem(16);
      font-family: $font-lato;
      font-style: normal;
      line-height: 19px;

      &:not(:last-child) {
        margin-right: 30px;
      }

      @include tag(a) {
        @include restricted-hover {
          color: $color-accent;
        }
      }
    }
  }

  .mobile-menu-icon {
    display: none;

    @media (--mobile-max) {
      display: inline-block;
    }
  }
}
