body {
  @include styled-scrollbar();

  display: flex;
  flex-direction: column;

  font-family: $font-rubik;

  background: #fff;
}

::selection {
  color: $color-black;

  background: $color-accent-100;
}
