.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  @media (--tablet-max) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--mobile-max) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__item {
    min-height: 428px;
  }
}
