.product-card {
  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 6px;

  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);

  &__image {
    width: 100%;
    height: auto;

    object-fit: cover;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 18px 25px;

    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;

    @media (--tablet-max) {
      padding: 15px;
    }
  }

  &__title {
    margin-bottom: 10px;

    color: $color-black;
    font-weight: 600;
    font-size: px-to-rem(20);
    font-family: $font-rubik;
    font-style: normal;
    line-height: px-to-rem(24);
  }

  &__point {
    margin-bottom: 8px;

    color: $color-black;
    font-weight: normal;
    font-size: px-to-rem(14);
    font-family: $font-lato;
    font-style: normal;
    line-height: px-to-rem(17);

    &:last-of-type {
      margin-bottom: 12px;
    }

    .equipment-svgs {
      margin-left: 12px;

      svg:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__price {
    margin-left: 6px;

    color: $color-black;
    font-weight: 700;
    font-size: px-to-rem(18);
    font-family: $font-lato;
    font-style: normal;
    line-height: px-to-rem(22);
  }

  &__button {
    margin-top: auto;
  }
}
