@import './_full-width/button_full-width';

.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  min-height: 42px;
  margin-top: auto;
  padding: 6px;

  color: #fff;
  text-align: center;

  border-radius: 25px;

  cursor: pointer;

  &__icon-wrapper {
    position: absolute;
    top: 50%;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    @include sizes(34px);

    background: #fff;

    border-radius: 50%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transform: translateY(-50%);
  }

  &_color_accent-100 {
    color: $color-black;

    background: $color-accent-100;
    border: 2px solid $color-accent-100;

    @include restricted-hover {
      background: $color-primary;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @include shadow-outline($color-accent-500);
  }

  &_color_accent-500 {
    background: $color-accent-500;

    @include restricted-hover {
      background: $color-accent-400;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @include shadow-outline($color-accent-100);
  }

  &_with-icon {
    justify-content: space-between;
    min-height: 46px;
    padding-right: 43px;
    padding-left: 39px;

    .button__text {
      margin-right: auto;
      margin-left: auto;
    }

    .button__icon-wrapper {
      margin-left: auto;
    }
  }
}
